/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* BASIC SETUP  */
:root {
  --ab1: rgba(225, 237, 230, 1);
  --ab2: rgba(89, 141, 102, 1);
  --ab3: rgba(55, 107, 68, 1);
  --ab4: rgba(134, 146, 139, 1);

  --ac1: rgba(212, 232, 217, 1);
  --ac2: rgba(244, 246, 245, 1);
  --ac3: rgba(163, 131, 20, 1);

  --ad1: rgba(44, 45, 53, 1);
  --ad2: rgba(255, 255, 255, 1);
  --ad3: rgba(250, 235, 151, 1);
  --ad4: rgba(217, 185, 73, 1);
  --ad5: rgba(238, 219, 109, 1);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: var(--ad1);
  background-color: var(--ac2);
  min-height: 100vh;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
/* BASIC LINK */
.link {
  color: var(--ad1);
  text-decoration: none;
  padding: 0 5px;
  display: inline-block;
  transition: all 0.1s linear;
}
.link:hover {
  color: var(--ab2);
}
.link:focus {
  color: var(--ad1);
  background-color: var(--ac1);
  outline: 1px solid var(--ab3);
}
.link:active {
  color: var(--ab3);
  background-color: transparent;
  outline: none;
}
.link.active {
  color: var(--ab3);
}
/* BASIC BUTTON */
.btn {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: var(--ab2);
  background-color: transparent;
  border: 1px solid var(--ab2);
  padding: 20px 59px 20px 58px;
  transition: all 0.1s linear;
  text-decoration: none;
}
.btn:hover {
  color: var(--ac2);
  background-color: var(--ab2);
}
.btn:focus {
  color: var(--ab2);
  background-color: var(--ac1);
  outline: 1px solid var(--ab2);
}
.btn:active {
  color: var(--ad2);
  background-color: var(--ab3);
  border-color: var(--ab3);
}
.btn.active {
  color: var(--ad2);
  background-color: var(--ab3);
  border-color: var(--ab3);
}
.btn.promo-btn {
  color: var(--ad1);
  background-color: var(--ad5);
  border-color: var(--ad5);
}
.btn.promo-btn:hover {
  background-color: var(--ad3);
  border-color: var(--ad3);
}
.btn.promo-btn:focus {
  background-color: var(--ad3);
  border-color: var(--ac3);
  outline: 1px solid var(--ac3);
}
.btn.promo-btn:active {
  background-color: var(--ad4);
  border-color: var(--ad4);
  outline: none;
}
.btn-prod {
  padding: 10px 20px;
  color: var(--ad1);
  border-radius: 20px;
  border: none;
  background-color: var(--ac1);
}
.btn-prod:active {
  color: var(--ac2);
  outline: none;
}
.btn-prod:focus {
  outline-width: 2px;
  color: var(--ad1);
}
.btn-prod.active {
  color: var(--ad2);
  background-color: var(--ab3);
  border-color: var(--ab3);
  outline: none;
}
.cart {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  position: relative;
  margin-top: -3px;
}
.cart .logo-svg {
  stroke: var(--ad1);
  width: 24px;
  height: 24px;
}
.cart:hover .logo-svg path {
  stroke: var(--ab2);
}
.cart:focus {
  background-color: var(--ac1);
  outline: none;
}
.cart:focus .logo-svg path {
  stroke: var(--ab2);
}
.cart:active {
  background-color: transparent;
}
.cart:active .logo-svg path {
  stroke: var(--ab3);
}
.cart span {
  font-size: 10px;
  line-height: 12px;
  color: var(--ad2);
  background-color: var(--ab2);
  min-width: 13px;
  min-height: 13px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
}
/* WRAP GRID */
.wrap {
  max-width: calc(1440px - 300px);
  margin: 0 auto;
  padding: 0 15px;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.col-md-1 {
  grid-column: span 1;
}
/* HEADER */
.header-top {
  background-color: var(--ab1);
  padding: 32px 0 28px 0;
}
.header-top .flex {
  justify-content: space-between;
  align-items: center;
}
/* * LOGO * */
.logo {
  width: 143px;
  margin-top: 1px;
}
.logo a {
  display: block;
}
.logo-svg {
  width: 100%;
}
/* * NAV * */
.hamburger-nav {
  display: none;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 1px;
  margin-left: 4px;
}
.nav-menu {
  display: flex;
}
.nav-menu-wrap.flex {
  column-gap: 50px;
  row-gap: 20px;
  margin-right: 55px;
  margin-top: -3px;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-top: -1px;
  margin-bottom: 65px;
}

.hero-desr {
  padding-right: 15px;
}
.hero-desr--title {
  font-size: 60px;
  line-height: 66px;
  font-weight: 500;
  color: var(--ad1);
  margin-bottom: 20px;
  letter-spacing: -0.7px;
}
.hero-desr--title span {
  color: var(--ab2);
  letter-spacing: 0.1px;
}
.hero-desr--text {
  font-size: 18px;
  line-height: 27px;
  color: var(--ab4);
  margin-bottom: 60px;
  letter-spacing: -0.11px;
  word-spacing: -1px;
}

/* PRODUCTION */
.protuction {
  margin-bottom: 70px;
}
.protuction-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}
.protuction--title {
  font-size: 40px;
  line-height: 44px;
  font-weight: 500;
  letter-spacing: -0.3px;
}
.protuction-nav.flex {
  gap: 30px;
}
/* * ITEM * */
.protuction-wrap-item {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px 20px;
  background-color: var(--ab1);
  transition: all 0.1s linear;
  cursor: pointer;
}
.protuction-wrap-item:hover {
  background-color: rgb(221, 242, 230);
}
.protuction-item--title {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  color: var(--ad1);
  margin-bottom: 8px;
}
.protuction-item--img {
  max-width: 100%;
  order: -5;
  margin-bottom: 20px;
}
.protuction-item--desrc {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: var(--ad1);
  margin-bottom: 30px;
}
.protuction-item--author {
  order: -4;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  color: var(--ab4);
  margin-bottom: 10px;
}
.protuction-item--author cite {
  font-style: normal;
  font-size: inherit;
}
.protuction-item--price {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: var(--ab2);
  margin-bottom: 20px;
}

/* PROMO */
.promo {
  background-image: url(img/bg/pic_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}
.promo-wrap {
  max-width: 540px;
}
.promo p:last-of-type {
  margin-bottom: 60px;
}
.promo--title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  color: var(--ac2);
  margin-bottom: 20px;
  position: relative;
  padding-left: 100px;
  letter-spacing: -0.5px;
}
.promo--title span {
  position: absolute;
  left: 0;
  top: 0;
}
.promo--text {
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
  color: var(--ad2);
  margin-bottom: 20px;
  letter-spacing: 0.38px;
}

/* OUR TEAM */
.team {
  margin: 67px 0;
}
.team.flex {
  column-gap: 30px;
}
.team-desrc {
  margin-top: auto;
  margin-bottom: 45px;
}
.team-list.flex {
  column-gap: 30px;
}
.team-list--item a {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.team-list--item img {
  width: 100%;
}
.team--title {
  font-size: 40px;
  line-height: 44px;
  font-weight: 500;
  color: var(--ad1);
  margin-bottom: 20px;
}
.team--text {
  font-size: 17px;
  line-height: 27px;
  color: var(--ad1);
  margin-bottom: 20px;
  letter-spacing: 0.32px;
}
.team-img {
  order: -1;
}

/* FOOTER */
.footer-main {
  background-color: var(--ab1);
  padding: 26px 0 23px 0;
}
.footer-main--info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 110px;
}
.footer-main--info .logo {
  margin: -2px 0 31px 0;
}
.telephone {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  color: var(--ad1);
  margin-bottom: 8px;
  margin-left: -5px;
}
.footer-main--info-ms {
  font-size: 18px;
  line-height: 21px;
  font-weight: inherit;
  color: var(--ab4);
}
.footer-main-wrap--nav.flex {
  column-gap: 59px;
  text-align: left;
}
.footer-main-nav--title {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  color: var(--ad1);
  margin-bottom: 5px;
}
.footer-main-nav-list {
  margin: 0 0 0 -4px;
}
.footer-main-nav-list--item {
  font-size: 18px;
  line-height: 27px;
  color: var(--ab4);
  margin-bottom: 5px;
}
.footer-main-nav-list--item a {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.footer-main-soc {
  margin-left: auto;
  font-size: 12px;
  line-height: 500;
  line-height: 14px;
  color: var(--ab4);
}
.footer-main-soc-list {
  display: flex;
  column-gap: 34px;
  margin-bottom: 9px;
  align-items: center;
  margin-right: 2px;
}
.footer-main-soc-list--item {
  width: 20px;
}
.footer-main-soc-list--item a {
  display: inline-block;
}
.footer-main-soc-list--item a:hover svg path {
  fill: var(--ab2);
}
.footer-main-soc-list--item a:focus {
  background-color: var(--ac1);
  outline: none;
}
.footer-main-soc-list--item a:focus svg path {
  background-color: black;
  fill: var(--ab2);
}

.footer-main-soc p {
  margin-bottom: 6px;
  margin-left: -4px;
}
.footer-main-soc p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 860px) {
  body {
    font-size: 18px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrap {
    padding-left: 39px;
    padding-right: 39px;
  }
  .nav-menu-wrap.flex {
    margin-top: -4px;
    margin-right: 57px;
  }
  .cart {
    margin-top: -6px;
    margin-right: 1px;
    width: 22px;
    height: 22px;
  }
  .hero {
    margin-bottom: 70px;
    align-items: flex-start;
  }
  .hero-desr {
    margin-left: -1px;
    margin-top: 34px;
  }
  .hero-img {
    height: 380px;
  }
  .hero-img img {
    height: inherit;
  }
  .hero-desr--title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }
  .hero-desr--text {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 60px;
    letter-spacing: -0.079px;
  }
  .hero-desr > .btn {
    padding: 18px 51px 17px 51px;
  }
  .btn {
    padding: 20px 51px 20px 51px;
  }
  .protuction-wrap {
    align-items: center;
    margin-bottom: 29px;
  }
  .protuction--title {
    font-size: 30px;
    line-height: 33px;
    letter-spacing: -0.1px;
  }
  .btn-prod {
    padding: 11px 20px 10px 20px;
  }
  .protuction-nav.flex {
    gap: 32px;
  }
  .protuction-item--title,
  .protuction-item--desrc {
    letter-spacing: -0.2px;
  }
  .protuction-item--img {
    height: 422px;
  }
  .promo {
    position: relative;
  }
  .promo:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url("./img/bg/pic_background-768.jpg");
    filter: brightness(0.5);
    z-index: 1;
  }
  .promo-wrap {
    max-width: 100%;
    position: relative;
    z-index: 2;
  }
  .promo--title {
    font-size: 30px;
    line-height: 30px;
    padding-left: 80px;
    width: 500px;
    letter-spacing: 0px;
    margin-bottom: 30px;
  }
  .promo--title span svg {
    width: 60px;
    height: 60px;
  }
  .promo--text {
    font-size: 18px;
    letter-spacing: 0.1px;
  }
  .promo p:last-of-type {
    margin-bottom: 31px;
  }
  .btn.promo-btn {
    padding: 17px 36px 17px 36px;
  }
  .team {
    margin: 70px 0 20px 0;
  }
  .team.flex {
    flex-direction: column;
  }

  .team-img {
    height: 504px;
    margin-bottom: 40px;
  }
  .team-img img {
    height: 100%;
  }
  .team--title {
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 30px;
  }
  .team--text {
    font-size: 18px;
    letter-spacing: 0px;
    margin-bottom: 5px;
    margin-bottom: 30px;
  }
  .footer-main {
    padding: 23px 0 23px 0;
  }
  .footer-main-wrap--nav.flex {
    column-gap: 60px;
  }
  .footer-main .wrap {
    padding-right: 35px;
  }
  .footer-main .wrap.flex {
    flex-wrap: wrap;
  }
  .footer-main--info .logo {
    margin-top: 0;
    margin-bottom: 42px;
  }
  .footer-main-nav-list--item {
    margin-bottom: 7px;
  }
  .footer-main--info {
    width: 100%;
    margin-right: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-main-soc {
    margin-right: 41px;
    margin-top: 2px;
  }
}
@media (max-width: 600px) {
  .wrap {
    padding-left: 33px;
    padding-right: 33px;
  }
  .link {
    padding: 0;
  }
  .header-top {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 51px;
  }
  .header-top .flex {
    flex-wrap: wrap;
  }
  .logo {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
  .logo a {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(195, 209, 198, 1);
    margin-bottom: 21px;
  }
  .logo-svg {
    width: 143px;
    height: 35px;
  }
  .nav-menu {
    width: 100%;
  }
  .nav-menu-wrap.flex {
    column-gap: 61px;
  }
  .cart .logo-svg {
    width: 22px;
    height: 22px;
  }
  .hero {
    align-items: flex-start;
    column-gap: 17px;
    margin-bottom: 40px;
  }
  .hero-img {
    height: 256px;
    margin-left: -14px;
    margin-top: -8px;
  }
  .hero-desr {
    padding: 0;
    margin-top: 0;
  }
  .hero-desr--title {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0;
    margin-bottom: 10px;
  }
  .hero-desr--text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    width: 90%;
    margin-bottom: 23px;
  }
  .hero-desr > .btn {
    font-size: 18px;
    padding: 12px 41px 15px 40px;
  }
  .protuction {
    margin-bottom: 50px;
  }
  .protuction-wrap {
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 20px;
  }
  .protuction--title {
    font-size: 24px;
    line-height: 26px;
    /* letter-spacing: -0.1px; */
    margin-bottom: 20px;
  }
  .btn-prod {
    font-size: 18px;
    line-height: 21px;
  }
  .protuction-wrap-item {
    height: 514px;
  }
  .protuction-item--img {
    height: 250px;
    margin-bottom: 14px;
  }
  .protuction-item--author {
    font-size: 16px;
    margin-bottom: 9px;
  }
  .protuction-item--title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 11px;
  }
  .protuction-item--desrc {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
  }
  .protuction-item--price {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 0;
    margin-top: auto;
  }

  .protuction-wrap-item .btn {
    font-size: 18px;
    line-height: 21px;
    padding: 13px 0;
    margin-top: auto;
    margin-top: 12px;
  }
  .promo {
    padding: 50px 0;
  }
  .promo--title {
    font-size: 24px;
    line-height: 24px;
    padding-inline-start: 70px;
    margin-block-end: 22px;
    width: 350px;
  }
  .promo--title span svg {
    width: 50px;
    height: 50px;
  }
  .promo--text {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.42px;
    margin-block-end: 16px;
    width: 95%;
  }
  .promo p:last-of-type {
    margin-block-end: 20px;
  }
  .btn.promo-btn {
    font-size: 18px;
    line-height: 21px;
    padding: 14px 35px 14px 33px;
    letter-spacing: -0.2px;
  }
  .team {
    margin-block-start: 48px;
  }
  .team-img {
    height: 370px;
    margin-block-end: 30px;
  }
  .team-desrc {
    margin-bottom: 24px;
  }
  .team--title {
    font-size: 24px;
    line-height: 26px;
    margin-block-end: 22px;
  }
  .team--text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .footer-main--info {
    margin-bottom: -2px;
  }
  .footer-main--info .logo {
    text-align: left;
    width: 143px;
  }
  .footer-main-wrap--nav.flex {
    width: 100%;
    justify-content: space-between;
  }
  .footer-main--info-ms {
    font-size: 16px;
    margin-left: -2px;
  }
  .footer-main-nav-list {
    margin: 0;
  }

  .footer-main-nav-list--item {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 7px;
  }
  .footer-main-wrap--nav {
    margin-bottom: 7px;
  }
  .footer-main-soc {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 19px;
    border-top: 1px solid rgba(195, 209, 198, 1);
  }
  .footer-main-soc-list {
    margin: 0 0 0 26px;
    column-gap: 29px;
  }
  .footer-main-soc-list--item {
    width: 24px;
    height: 24px;
  }
  .footer-main-soc-list--item .logo-svg {
    width: 19px;
    height: 18px;
  }
  .copyright {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    padding-left: 33px;
    width: 100%;
  }
  .copyright p {
    margin-right: 7px;
  }
}

@media (max-width: 510px) {
  .wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-top {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-top .flex {
    position: relative;
  }

  .header-top .logo {
    width: 100vw;
    margin-left: -15px;
    margin-right: -15px;
    padding: 17px 0 11px 0;
    background-color: #fff;
  }
  .logo a {
    padding: 0;
    margin: 0;
    border: none;
  }
  .hamburger-nav {
    display: block;
    background-image: url(img/icon/hbrg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
  }
  .hamburger-nav.hamburger-nav-close {
    background-image: url(img/icon/close.svg);
    width: 30px;
    height: 30px;
    margin: 0;
  }
  .header-top .flex {
    min-height: 62px;
  }
  .nav-menu-wrap.flex {
    position: absolute;
    flex-direction: column;
    width: 100vw;
    left: -19px;
    top: 64px;
    background-color: var(--ab1);
    z-index: 9;
    align-items: flex-start;
    padding: 16px 0 100px 19px;
    gap: 48px;
    display: none;
  }
  .cart {
    margin-top: 0;
    width: 22px;
    height: 22px;
  }
  .hero {
    margin-bottom: 74px;
  }
  .hero-desr {
    margin-top: 10px;
  }
  .hero-img {
    display: none;
  }
  .hero-desr--title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 19px;
    width: 90%;
  }
  .hero-desr--text {
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    margin-bottom: 54px;
  }
  .hero-desr > .btn {
    padding: 14px 28px 14px 28px;
  }
  .protuction {
    margin-bottom: 59px;
  }
  .protuction-nav.flex {
    gap: 21px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  .protuction-item--author {
    margin-bottom: 8px;
  }
  .protuction-wrap-item .btn {
    padding: 14px 0;
    margin-top: 9px;
  }
  .promo--title {
    padding-inline-start: 60px;
    width: 100%;
    margin-block-end: 21px;
  }
  .promo--text {
    letter-spacing: 0.61px;
    width: 100%;
  }
  .promo p:last-of-type {
    margin-block-end: 29px;
  }
  .btn.promo-btn {
    width: 100%;
  }
  .team {
    margin-block-start: 60px;
    margin-bottom: 64px;
  }
  .team-img {
    width: 290px;
    height: 286px;
    margin-block-end: 29px;
  }
  .team--title {
    margin-block-end: 21px;
  }
  .footer-main--info {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .footer-main--info .logo {
    margin: -3px 0 12px 0;
  }
  .telephone,
  .footer-main--info-ms {
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    margin: 0;
  }
  .telephone {
    margin-bottom: 8px;
  }
  .footer-main-wrap--nav.flex {
    flex-wrap: wrap;
  }
  .footer-main-wrap--nav {
    margin-bottom: 11px;
  }
  .footer-main-soc-list {
    margin: 4px 0 0 24px;
    column-gap: 30px;
  }
}
